/*
 * Globals
 */

/* Links */

.card-body {
    color:black;
}

a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
  color:white;
}
.cover-container {
  max-width: 42em;
}

.nav-link {
  font-weight: bold;
}

.masthead-brand {
  margin-bottom: 0;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.myimage {
  background-size: cover;
  background-image: url("../assets/main_banner.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@supports (-webkit-appearance:none) {
  .parallax {
    background-attachment: scroll;
  }
}

/* In case phones do not support background-attachment: fixed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.navbar {
  height: 50px;
  background-color: transparent;
  border: none;
  color: white;
  z-index: 100;
  transition: background-color 1s ease 0s;
}

.navbar-brand {
 padding-top: 1.0rem;
}

/* cite source for this or remove it when done */
.navbar.solid {
  background-color: #490D40;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;

    .navbar-brand {
      color: #C57ED3;
      transition: color 1s ease 0s;
    }

    .navbar-nav {
       > li {
          > a {
            color: #C57ED3;
            transition: color 1s ease 0s;
          }
       }
    }
}
